#container{
    background: darkgoldenrod;
    width: 100px;
    height: 100px;
    color:black;
}

div {
    background: darkgoldenrod;
    width: 100px;
    height: 100px;
    color:black;
}

/* .MyClass{
    background: darkgoldenrod;
    width: 100px;
    height: 100px;
    color:black;
} */


.MyClass{
    background: darkblue;
    width: 100px;
    height: 100px;
    color:black;
}